/* ==================== presets css ==================== */
@import url("//fonts.googleapis.com/css2?family=TimesNewRoman:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

html {
    background-color: #231E3D;
}
js {
    width: auto;
    display: inline;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
[inline] {
    display: inline;
}

[hidden] {
    display: none !important;
}

[branco] {
    color: white;
}

[white] {
    background: white;
}

[azul] {
    color: blue;
}

[blue] {
    background: blue;
}

[lightblue] {
    background: lightblue;
}

[amarelo] {
    color: yellow;
}

[yellow] {
    background: yellow;
}

[vermelho] {
    color: red;
}

[red] {
    background: red;
}

[verde] {
    color: green;
}

[green] {
    background: green;
}

[laranja] {
    color: orange;
}

[laranjavermelho] {
    color: orangered;
}

[orange] {
    background: orange;
}

[cinza] {
    color: gray;
}

[gray] {
    background: gray;
}

[roxo] {
    color: purple;
}

[purple] {
    background: purple;
}

.conteudo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Instructions */
.instructions {
    margin: 1rem auto 0;
}

/* .info {
    background: white;
    border: 3px solid gray;
    color: black;
    width: 100%;
    cursor: help;
    height: auto;
    display: block;
  } */
.info-TR {
    font-style: italic;
    text-shadow: rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
    text-align: center;
}

.list,
list {
    margin-top: auto;
    display: none;
    color: blue;
    background: white;
    border: 5px solid black;
    padding: 10px 10px;
    width: 95%;
    cursor: help;
    max-width: 100%;
}

.list saldo {
    display: inline-block;
    color: red;
}

.list payment {
    display: inline-block;
    color: green;
}

.list-changelogs {
    display: block;
    color: blue;
    background: white;
    border: 5px solid black;
    padding: 10px 10px;
    width: 100%;
    cursor: help;
    font-size: 17px;
}

info {
    background: white;
    border: 3px solid black;
    color: black;
    width: 100%;
    cursor: help;
    height: auto;
    display: block;
}

info.changelogs {
    font-style: italic;
    text-transform: capitalize;
    text-align: center;
    font-family: "Coming Soon", handwriting;
    color: black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 75%;
    min-width: 50px;
    border-width: 5px;
    box-shadow: 0px 0px 50px 25px #000000;
}

info.jogos {
    text-align: center;
    background: transparent;
    color: white;
    border: none;
}

info strong {
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-account-left {
    display: block;
    color: white;
    background: gray;
    font-size: 22px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    text-shadow: rgb(255, 255, 255) 1px 1px 0px, rgb(170, 170, 170) 2px 2px 0px;
    overflow: hidden;
    border-radius: 25px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.btn {
    border: 3px solid white;
    border-radius: 25px;
    width: 50%;
    margin: 20px;
    font-style: italic;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    border-bottom: 7px solid white;
    font-size: 18px;
}

[inline] {
    display: inline;
}

[hidden] {
    display: none !important;
}


.msg {
    text-align: center;
    background: white;
    padding: 7px;
    display: none;
    opacity: 70%;
    width: 75%;
    border-radius: 10px;
}

.msg-Error {
    border-bottom: 3px solid red;
    color: red;
}

.msg-Success {
    border-bottom: 3px solid green;
    color: green;
}


label {
    color: red;
    cursor: help;
    transition: all 0.3s ease-out;
    display: block;
    text-decoration: underline;
    font-size: 18px;
}

p {
    margin: 5px;
}