.cabecalho {
    background-color:rgb(1, 0, 49) ;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 15px;
   
}
/* .cabecalho a {
    text-decoration: none;
    
} */

.cabecalho h1 {
    font-size: 15px;
    color: white;
    margin: 5px;
    
}

.nameS {
    text-decoration: none;
}

.search {
    background-color: rgb(8, 8, 80);
    border-radius: 35px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
}

.Ptext {
    width: 0px;
    line-height: 30px;
    border: none;
    outline: none;
    background: none;
    padding: 0 ;
    color: white;
    transition: 2s;
   
    

}

.iconeB {
    color: #00a8ff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 110, 255);
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.lupaP img {
   width: 10px;
   height: 10px;
}

.search:hover > .Ptext {
    width: 500px;
    padding: 2px 2px 2px 15px;

}

.search:hover > .iconeB {
    background-color: white;
    
}

.search:hover {
    border: 2px solid white;
    transition: 1s;
}


.menu   { 
    text-decoration: none;
    list-style: none;
    display: flex; 
    
    
}


.menu a { 
    margin: 5px; 
    padding: 8px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
}

.menu a:hover {
    color: red;
}

.entraBt{
    background-color: blue;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(44, 3, 158) ;
}

.entraBt:hover {
    border-color: #ffffff;
    color: #ffffff;
}



.container {
    width: 100%;
    height: 100%;
    background-color: brown;
    position: relative;
    
    
}
.loP {
    display: flex;
    font-size: 25px;
    float: left;
    margin: 5px;
    
    
}

.container .busca {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 3, 158);
    display: flex;
    flex-direction: column;
    
    
}

.busca h1 {
    color: white;
    
}

.busca .fundo{
    background-color:rgb(1, 0, 49);
    width: 100%;
    height: 95%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.logo {
    color: white;
    padding-right: 20px;

}


.pesquisa {
    background-color: #ffffff;
    width: 580px;
    height: auto;
    padding: 8px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.pesquisa a {
    font-weight: bolder;
    text-decoration: none;
    
    
}

.pesquisa p {
    font-size: 12px;
}
.Ptext2 {
    width: 500px;
    line-height: 25px;
    background: none;
    outline: none;
    padding: 0;
    border: 0;
    margin-left: 15px;
}

.iconeB2 {
    padding: 0px;
    align-items: center;
    justify-content: center;
    
}

.container .empregoSeach {
    width: 100%;
    height: 100%;
    background-color: cyan;
}

.empregoSeach {
    display: flex;
}

.empregoSeach div {
    margin: 5px 5px 5px 0;
}
.empregoSeach .infoNovidades {
    background-color: black;
    width: 70%;
    height: 100%;
}

.empregoSeach .postEm {
    width: 30%;
    background-color: burlywood;
}

.infoNovidades div {
    margin: 0;
}

.infoNovidades .emDia {
    background-color: chartreuse;
    width: 100%;
    height: 400px;
}
.imgEm {
    width: 100%;
    height: 200px;
    background-color: rgb(173, 173, 173);

}

.quadroEm {
    background-color: aqua;
    width: 800px;
    height: 360px;
}


.infoNovidades .outrosEm {
    background-color: blue;
    width: 100%;
    height: 100px;
}

.container .embreve {
    background-color: violet;
    width: 100%;
    height: 100px;
}
