.title-cadastro {
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-style: italic;
    text-shadow: rgb(255, 255, 255) 0px 0px 2px, rgb(255, 255, 255) 0px 0px 4px,
        rgb(255, 255, 255) 0px 0px 6px, rgb(255, 119, 255) 0px 0px 8px,
        rgb(255, 0, 255) 0px 0px 12px, rgb(255, 0, 255) 0px 0px 16px,
        rgb(255, 0, 255) 0px 0px 20px, rgb(255, 0, 255) 0px 0px 24px;
    border-bottom: 3px solid purple;
    margin: 10px;
}

.input-cadastro {
    margin: 10px auto;
    min-width: 50%;
    width: 70%;
    padding: 10px;
    border-bottom: 3px solid purple;
    border-top: 3px solid blue;
    outline: none;
    font-size: 12px;
    transition: all 0.3s ease-out;
    border-radius: 25px;
    text-align: center;
}

.input-cadastro:focus {
    border-bottom: 3px solid orange;
    font-size: 18px;
}

.input-cadastro:valid {
    color: green;
    border-bottom: 3px solid green;
}

label {
    color: red;
    cursor: help;
    transition: all 0.3s ease-out;
    display: block;
    text-decoration: underline;
    font-size: 18px;
}

p {
    margin: 5px;
}

.btn-cadastro {
    background-color: purple;
    color: yellow;
}

.btn-recupear-senha {
    color: red;
    background: blue;
}

.btn-recupear-senha:hover {
    color: gold;
}